1일차

In [1]:
print("hello world")

hello world

In [2]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2일

In [1]:
for i in range (1,99):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [2]:
print("abc")

abc

In [3]:
a=5
b=5
a+b

10

In [7]:
a=99999999999999999999999999999999999999999999999
b=999999999999999999999999999999999999999999999999999999999999999
a*b

99999999999999999999999999999999999999999999998999999999999999900000000000000000000000000000000000000000000001

In [20]:
def multiplication(a,b):
    result = a*b
    return result

In [19]:
multiplication(6,7)

4220

In [8]:
a=9
b=3
a/b

3.0

In [25]:
def divide(a,b):
    result= a/b
    return result

In [26]:
divide(9,3)

3.0

In [11]:
a=9
b=3
a%4

1

In [27]:
def na(a,b):
    result= a%b
    return result

In [28]:
na(9,4)

1

In [29]:
na(9,4)

1

In [30]:
na(10,5)

0

In [31]:
na(1000000000000,88887766578)

22234567642

In [12]:
a=10
b=3
a/b

3.3333333333333335

In [13]:
a=3
b=2
a-b

1

In [2]:
def martplin(a,b):
    reselt=a*b
    return reselt

In [4]:
a=4
b=4 
martplin(4,4)

16

11/9

In [5]:
professor = "박서준"
print(professor)

박서준

In [7]:
a=6
b=9
print("a+b")

a+b

In [8]:
print sk

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(sk)? (<ipython-input-8-0da819a3c68e>, line 1)

In [9]:
print (111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111)

111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

In [11]:
print(99**99)

369729637649726772657187905628805440595668764281741102430259972423552570455277523421410650010128232727940978889548326540119429996769494359451621570193644014418071060667659301384999779999159200499899

In [13]:
a=10.3
b=10.7
a=int(a)

In [14]:
a

10

In [15]:
float(a)

10.0

# 11/19

In [11]:
def str_to_int(string_number):  # 쓰고 싶은 단어를 ㅆㅡ고  수를 정수형으로 바꾸는 겄이다
    result = int(string_number) # 정수형 수를 기억 한다
    return result #기억한 수를 돌려준다
           

def main(): # 나한테 보고하는 것
    print("str_to_int tast") #따옴표를 써서 내가 찍고 싶은 글자를 찍는다
    print(str_to_int("56"))  #정수형 56을 불러온 다음에 찍는 다

In [12]:
main()  #반장을 불러온다

str_to_int tast
56